ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.body {
  width: 99vw;
  height: 100vh;
  /* margin-top: 88px; */
}
.resource-box {
  width: 220px;
  height: calc(100vh - 88px);
  text-align: left;
  border: 1px solid #d4d4d4;
  margin-right: 10px;
  float: left;
  box-sizing: border-box;
}
.head {
  text-align: center;
  line-height: 24px;
  padding: 5px;
  padding-bottom: 0;
  border-bottom: 1px solid #d4d4d4;
  margin-bottom: 30px;
}
.resource {
  width: 200px;
  margin-left: 20px;
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 5px;
}
.resource-head {
  padding: 0;
  margin: 0;
  line-height: 24px;
  font-size: 16px;
  text-align: left;
  cursor: pointer;
}
.resource-list {
  margin-left: 15px;
  width: 185px;
  line-height: 24px;
  margin-top: 3px;
}
.resource-item {
  display: none;
  height: 24px;
  line-height: 24px;
  overflow: hidden;
}
.resource-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 140px;
  padding: 0;
  margin: 0;
  float: left;
  cursor: pointer;
}
.resource-item span {
  padding: 1px 5px;
  font-size: 13px;
  line-height: 16px;
  background: #218eda;
  color: #fff;
  border-radius: 50%;
  float: left;
  margin: 3px 0;
  margin-left: 6px;
}
.resource-head span {
  padding: 1px 5px;
  font-size: 13px;
  line-height: 16px;
  background: #218eda;
  color: #fff;
  border-radius: 50%;
  margin: 3px 0;
  margin-left: 6px;
}
.table-body {
  width: calc(98vw - 230px);
  height: calc(100vh - 88px);
  border: 1px solid #d4d4d4;
  float: right;
  box-sizing: border-box;
}

.table-box {
  width: 100%;
  height: 100%;
}
.table-header-box {
  width: calc(100% - 30px);
  height: 60px;
  margin: 0 auto;
  border-bottom: 1px solid #d4d4d4;
}
.table-header-box .table-header-text {
  padding: 0;
  margin: 0;
  line-height: 60px;
  font-size: 18px;
  text-align: left;
  float: left;
}
.table-header-box p span {
  font-size: 16px;
  color: #218eda;
  margin-left: 10px;
}
.search-box {
  float: right;
  width: 45%;
}
.search-box .search-inp {
  height: 28px;
  width: 52%;
  padding-left: 6px;
  border: 1px solid #ccc;
  float: left;
  margin: 16px 0 12px;
}
.search-box .search-btn {
  width: 88px;
  height: 28px;
  margin: 16px 0 12px;
  margin-left: 10px;
  font-size: 14px;
  line-height: 28px;
  float: left;
  border-radius: 5px;
  border: 1px solid #d4d4d4;
  padding: 0 5px;
  background: linear-gradient(to bottom, #ffffff 0, #e6e6e6 100%);
  background-repeat: repeat-x;
}
.search-box .search-btn:hover {
  cursor: pointer;
  background: #e6e6e6;
  color: #00438a;
}
.sort-box {
  width: calc(100% - 30px);
  height: 60px;
  margin: 0 auto;
  border-bottom: 1px solid #d4d4d4;
}
.sort-text {
  float: left;
  font-size: 18px;
  line-height: 60px;
  margin-right: 5px;
}
.sort-btn {
  float: left;
  padding: 3px 5px;
  font-size: 12px;
  line-height: 18px;
  background: #efefef;
  color: #666666;
  cursor: pointer;
  border-radius: 5px;
  margin: 17px 0;
  margin-right: 5px;
}
.sort-btn.active {
  background-color: #3498db;
  color: #ffffff;
}
.list-box {
  overflow: auto;
  width: calc(100% - 30px);
  height: calc(100% - 122px);
  margin: 0 auto;
}
.list-box .list-item {
  width: 180px;
  height: 160px;
  margin: 10px 5px 15px;
  float: left;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.list-box .list-item .list-top {
  width: 100%;
  height: 52px;
  background: #218eda;
  font-size: 17px;
  line-height: 21px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.list-box .list-item .list-top p {
  color: #fff;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 26px;
  line-height: 26px;
  display: none;
}
.list-box .list-item .list-top p.only {
  height: 52px;
  line-height: 52px;
}
.list-box .list-item .list-top p.show {
  display: block;
}
.list-box .list-item .list-body {
  background: #efefef;
  width: 100%;
  height: 110px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 5px 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.list-body .list-body-item {
  margin: 8px 15px 8px 15px;
  line-height: 24px;
  font-size: 16px;
  overflow: hidden;
}
.list-body .list-body-item img {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 5px;
}
.list-body .list-body-item p {
  float: left;
  line-height: 21px;
}
.list-body .list-body-item span {
  color: #ffffff;
  background: #218eda;
  font-weight: 800;
  padding: 1px 5px 1px;
  margin: 4px 2px 0;
  border-radius: 10px;
  line-height: 12px;
  font-size: 12px;
  float: left;
  margin-left: 8px;
}
.list-body .apply-btn {
  background: #f47c20;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#faa51a),
    to(#f47a20)
  );
  width: 112px;
  height: 22px;
  line-height: 22px;
  color: #fff;
  text-align: center;
  border-radius: 11px;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  left: 50%;
  margin-left: -56px;
  bottom: 13px;
}
.list-body .apply-btn:hover {
  background: #f47c20;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f88e11),
    to(#f06015)
  );
}
/* 弹出框样式 */
.alter-bg{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #ccc;
    z-index: 20;
    opacity: 0.4;
    top: 0;
    left: 0;
}
.alert-body{
    width: 80vw;
    height: 80vh;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -40vw;
    margin-top: -40vh;
    background: #fff;
    z-index: 30;
    padding: 5px;
    box-sizing: border-box;
    overflow: auto;
    border: 15px solid #fff;
}

.alert-body::-webkit-scrollbar {
  display: none;
}
.alert-body h3{
    margin: 10px 0px;
    text-align: left;
    margin: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    font-size: 1.6em;
}
.alert-body h3 .info-btn,.off-btn{
    float: right;
    width: 64px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #444;
    border: 1px solid #bbb;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 100px;
    background: linear-gradient(to bottom,#ffffff 0,#e6e6e6 100%);
    background-repeat: repeat-x;
    cursor: pointer;
}
.alert-body h3 .info-btn{
  margin: 0;
  margin-right: 20px;
}
.alert-body h3 .info-btn:hover,.off-btn:hover{
    background: #e6e6e6;
    color: #00438a;
    border: 1px solid #ddd;
    filter: none;
}
.table{
    border: 1px solid #ddd;
    border-bottom: 0;
    overflow: hidden;
    margin: 0 20px;
}
.table.bottom{
    border-bottom: 1px solid #ddd;
}
.table .tr{
    width: 50%;
    float: left;
    min-height: 30px;
    line-height: 30px;
    overflow: hidden;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
}
.table .tr:nth-child(2n){
    border: 0;
}
.table .tr .td{
    width: 30%;
    text-align: right;
    float: left;
    border-right: 1px solid #ddd;
    padding-right: 10px;
    box-sizing: border-box;
}
.table .tr .tdr{
    width: 70%;
    min-height: 30px;
    text-align: left;
    float: left;
    padding-left: 10px;
    box-sizing: border-box;
}
.text-table{
    border: 1px solid #ddd;
    overflow: hidden;
    margin: 0 20px;
}
.text-table .text-head{
    width: 100%;
    overflow: hidden;
    line-height: 30px;
}
.text-table .text-head p{
    float: left;
    width: 20%;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
}
.text-table .text-head p:last-child{
    border: 0;
}
.text-table .text-tr{
    width: 100%;
    overflow: hidden;
}
.text-table .text-tr .text-td{
    float: left;
    width: 20%;
    height: 30px;
    border-right: 1px solid #bbb;
    line-height: 30px;
    border-top: 1px solid #bbb;
    box-sizing: border-box;
}
.text-table .text-tr .text-td:nth-child(5n){
    border-right: 0;
}

.text-table .text-tr .text-td .icon_true{
  width: 30px;
  height: 30px;
  display: block;
  margin: 0 auto;
}
.header{
  width: 100%;
  height: 88px;
}
.header .logo{
  height: 40px;
  float: left;
  margin-left: 20px;
  margin-top: 5px;
}
.header .top{
  width: 100%;
  height: 50px;
  background-image: linear-gradient(0deg, #007DB0 0%, #00145E 100%)
}

.header .top .pagename{
  float: left;
  line-height: 50px;
  font-size: 20px;
  color: #fff;
  margin-left: 10px;
}

.header .top .user-info{
  float: right;
  line-height: 50px;
  font-size: 14px;
  margin-right: 20px;
  color: #fff;
}
.header .section{
  width: calc(100% - 20px);;
  height: 30px;
  background: rgb(54, 169, 224);
  padding-left: 20px;
}
.header .section .section-children{
  line-height: 24px;
  font-size: 14px;
  color: #fff;
  float: left;
  border-bottom: 3px solid #ffcc00;
  cursor: pointer;
}
.user-name{
  margin-right: 5px;
}
.out-btn{
  padding-left: 5px;
  border-left: 1px solid #fff;
  color: red;
  cursor: pointer;
}

.show {
  display: block;
}
.icon {
  /* border: 1px solid #d4d4d4; */
  width: 14px;
  height: 14px;
  margin: 4px 2px;
  float: left;
  margin-right: 4px;
}
.res_allclassify{
  width: calc(100% - 220px);
  margin-left: 220px;
}
.res_allclassify_title{
  width: 100%;
  background-color: #258bdd;
  color: #fff;
  padding: 5px 0;
}
.res_allclassify_table{
  width: 99%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}
.res_allclassify_table>div{
  width: 19%;
  /* height: 80px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3EC2EE;
  color: #fff;
  padding-bottom: 10px;
}
.res_allclassify_table>div>img{
  width: 25px;
  margin-bottom:10px;  
  margin-top: 5px;                    
}
.res_allclassify_name{
  margin-bottom: 15px;
}
.res_allclassify_table>div.res_allclassify_table_little1{
  background-color:#00C29D
}
.res_allclassify_table>div.res_allclassify_table_little2{
  background-color:#208ED9
}
.res_allclassify_table>div.res_allclassify_table_little3{
  background-color:#F8B655
}
.res_allclassify_table>div.res_allclassify_table_little4{
  background-color:#3F76E7
}