@font-face{
    font-family: 'FZCuQian-M17S';
    src: url('./FZCQJW.ttf');
}
@font-face{
    font-family: 'PingFang SC';
    src: url('./PingFangMedium.ttf');
}
@font-face{
    font-family: 'FZY4JW';
    src: url('./FZY4JW.ttf');
}
@font-face{
    font-family: 'FZZZH';
    src: url('./方正正中黑简体.ttf');
}
@font-face{
    font-family: 'FZHTJW';
    src: url('./FZHTJW.ttf');
}